

	<div class="container-fluid mt-4" style="width: 60%;">
		<div class = 'card' *ngIf="tour">
			
			<div class='card-header'>
				<h2>{{tour.name}}</h2>
				<app-star [rating]='tour.rating' 
				(ratingClicked)='onRatingClicked($event)'></app-star>
			</div>

			<div class='card-body'>
				<div class="row">
					<div class='col-sm-8'>
						<div *ngIf="tour.description">
							{{tour.description}}
						</div>
				
					</div>
				</div>

				<div class="row">
					<div class='col-sm-12'>
						<div *ngIf="tour.moreinfo">
							Additional information at {{tour.moreinfo}}.
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-8">


						<mat-vertical-stepper [linear]="isLinear" #stepper>
							<div *ngFor="let step of tour.steps; index as i; first as isFirst">
								<div class='card-body'>
								<mat-step>
									<ng-template class="button" matStepLabel>{{step.name}}</ng-template>
									<app-tour-step [step]="step">
									</app-tour-step>
								</mat-step>
							</div>
						</div>
				
							<mat-step>
								<ng-template matStepLabel>Complete</ng-template>
								This completes the tour.
							</mat-step>
						</mat-vertical-stepper>

					</div>
				</div>
				
			 
	
			<!-- MoreInfo -->
		
	
			
		</div>
		</div>
	</div>


	