<div class="d-flex justify-content-center">
	<div *ngIf="tour">
		<h3>{{tour.name}}</h3>
		<!-- Tour Introduction -->
		<div *ngIf="tour.description">
			{{tour.description}}
		</div>

		<!-- May be rotating pictures -->


		<!-- MoreInfo -->
		<div *ngIf="tour.moreinfo">
			Additional information at {{tour.moreinfo}}.
		</div>

		<mat-vertical-stepper [linear]="isLinear" #stepper>
			<li *ngFor="let step of tour.steps; index as i; first as isFirst">
				<mat-step>
					<ng-template matStepLabel>{{step.name}}</ng-template>
					<app-tour-step [step]="step">
					</app-tour-step>
					<div>
						<button mat-button matStepperNext>Next</button>
					</div>
				</mat-step>
			</li>

			<mat-step>
				<ng-template matStepLabel>Complete</ng-template>
				This completes the tour.
				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button (click)="stepper.reset()">Reset</button>
				</div>
			</mat-step>
		</mat-vertical-stepper>
	</div>