<!-- <h2>Tours</h2> --!>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
<div class="col-sm-12">

	<div class="h3">

		{{pageTitle}}
	</div>
	<div class='col-md-2' style="text-align: left;">Filter Tour: <input type='text' style="text-align: left;" /></div>




	</div>



	<div class="card-deck">
		<div *ngFor="let tour of filteredTours" [class.selected]="tour === selectedTour"
			[class.videoLink]="this.sanitizer.bypassSecurityTrustUrl(tour.videoLink)" (click)="onSelect(tour)">








			<div class="container-fluid mt-4">
				<div class="row justify-content-center">
					<div class="col-auto mb-3">
						<div class='card' style="width: 18rem;" (click)="onSelect(tour)">



							<img class="card-img" style="width: 18rem; height: 12rem" src={{tour.imageSource[0]}} alt={{tour.name}}>
							<div class="card-img-overlay text-white d-flex flex-column justify-content-center">
								<h4 class="card-header">{{tour.name}}</h4>
								<h6 class="card-subtitle">{{tour.summary}}</h6>
								<p class="card-text">{{tour.description}} </p>

								<!--
									<div class="link d-flex">
										<a href="#" class="card-link text-warning">Read More</a>
										<a href="#" class="card-link text-warning">Visit Virtual</a>
									</div>

                  -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<table class="table table-hover">
			<tr>
				<td style="vertical-align:top;">

					<div>
						<app-tour-detail [tour]="selectedTour">
						</app-tour-detail>
					</div>

				</td>
			</tr>
		</table>