<!-- <h2>Tours</h2> --!>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
<div class="example" style="margin:auto;max-width:300px">
	<input type='text' [(ngModel)]='listFilter' placeholder="Search for a tour.." />
	<button type="submit"><i class="material-icons">search</i></button>

</div>


<div class="card-deck justify-content-center" style="background-color: darkolivegreen;">
	<div *ngFor="let tour of filteredTours" [class.selected]="tour === selectedTour"
		[class.videoLink]="this.sanitizer.bypassSecurityTrustUrl(tour.videoLink)" (click)="onSelect(tour)">

		<div class="container-fluid mt-4">
			<div class="row justify-content-center">
				<div class="col-auto mb-3">
					<div class='card' style="width: 18rem;" (click)="onSelect(tour)">

						<img class="card-img" style="width: 18rem; height: 12rem" src={{getTourImage(tour)}}
							alt={{tour.name}}>
						<div class="card-img-overlay text-white d-flex flex-column justify-content-center">
							<h4 class="card-header">{{tour.name}}</h4>
							<h6 class="card-subtitle">{{tour.summary}}</h6>
							<p class="card-text">{{tour.description}} </p>

							<!--
									<div class="link d-flex">
										<a href="#" class="card-link text-warning">Read More</a>
										<a href="#" class="card-link text-warning">Visit Virtual</a>
									</div>

                  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="justify-content-center" *ngIf="!clear">
			<app-tour-detail [tour]="selectedTour">
			</app-tour-detail>
			<div style="text-align: center;margin: 5px;">
				<button (click)='ClearSelected()' class="justify-content-center" >Close</button>
			</div>
</div>

<div *ngIf="clear" style="text-align: center; margin: 25px 0 25px 0;" class="justify-content-center">
	<div  class="card-deck justify-content-center stripe" style="padding: 10px 0 10px 0">
		Select a tour or search for a tour above
	</div>
</div>


